[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pyautogui = "*"
atomacos = "*"
opencv-python = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.10"
